body{
    font-family: 'Roboto', sans-serif;
    color: #505050;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.main{
    background-color: white;
    margin-top: 50px;
}

.footerr {
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}